
.treeInputOptionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-bar {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: gray;
  transition: 0.1s ease-out;
  margin-bottom: 8px;
  margin-right: 5px;
}

.input-button {
  min-width: 90px;
  height: 52.5px;
  border: none;
  background: var(--tertiary-color);
  color: var(--tertiary-text-color);
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  transition: 0.1s ease-out;
  font-weight: 600;
  font-size: 0.9rem;
}

.input-button:hover {
  filter: brightness(0.92);
  transform: translateY(-1px);
}

#random-insert-container {
  display: none;
}

#random-delete-container {
  display: none;
}
