body, html {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header-container {
    display: flex;
    align-items: center;
    height: 15vh;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    background-color: transparent;
}

.header-container {
    font-family: Arial, Helvetica, sans-serif;
}

.header-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    background: linear-gradient(to right, #ff0000, #0000ff);
}


.title-header {
    margin: 0;
    color: white;
}

.options-container {
    margin-left: auto;
    margin-right: 20px;
    padding: 0;
}

.options-container ul {
    list-style-type: none;
    color: white;
}

.options-container li {
    display: inline;
    margin-left: 20px;
    font-weight: 700;
}

.options-container a {
    transition: color 0.2s ease;
}

.options-container a:hover {
    color: rgb(180, 180, 180);
}

.options-container a:active {
    color: rgb(120, 120, 120);
}

.options-container a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 720px) and (max-height: 1612px) {
    .header-container {
        height: 20vh;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }

    .title-header {
        font-size: 8px;
        margin: 0;
        min-width: max-content;
    }

    .options-container {
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
    }

    .options-container ul {
        text-align: center;
        padding: 0;
        display: flex;
        margin: 0;
    }

    .options-container li {
        margin-bottom: 5px;
        font-size: 13px;
        position: relative;
    }

    .options-container li a {
        display: inline-block;
    }

    .home a, .home li,
    .blog a, .blog li,
    .instagram a, .instagram li,
    .linkedin a, .linkedin li {
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
    }
}

.main-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 130vh;
    height: 72vh;
    background-color: rgb(200, 200, 200);
    border-color: 2px solid black;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);   
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile-image {
    display: flex;
    align-items: center;
    max-width: 415px;
    margin-right: 20px;
    width: 400vh;
    height: 100%;
}

.profile-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.data-container {
    height: 95%;
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
    font-family: Russo One, sans-serif;
}

.data-container h1 {
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 18px;
}

.data-container h2 {
    font-size: 13px;
    margin-top: 18px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.data-container p {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 0;
    padding-bottom: 20px;
}

.data-container ul {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    list-style-type: none;
    color: black;
}

.data-container li {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.data-container li img {
    margin-right: 8px;
    width: 20px;
    height: auto;
}

.links-container {
    margin: 0;
    padding-top: 15px;
}

.links-container img {
    margin-right: 2px;
    width: 20px;
    height: auto;
}

@media screen and (max-width: 800px) and (max-height: 1612px) {
    body, html {
        overflow-y: auto;
    }

    .main-container {
        width: 90%;
        height: 100%;
        margin-top: 70px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 10px;
    }

    .profile-image {
        margin-top: 13px;
        margin-right: 0;
        max-width: 90%;
    }

    .profile-image img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .data-container {
        margin: 10px;
        max-width: 90%;
    }

    .data-container h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .data-container h2 {
        font-size: 18px;
        margin: 5px 0;
    }

    .data-container p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .data-container ul {
        margin-bottom: 10px;
    }

    .data-container li {
        font-size: 18px;
    }

    .links-container {
        padding-top: 10px;
    }

    .links-container img {
        width: 25px;
    } 
}
